<%- include('../partials/header')%>
<header>
    <nav class="navbar navbar-light bg-dark justify-content-between">
        <a class="navbar-brand text-white">Home</a>
        <form class="form-inline">
            <a href="/logout"><input type="button" class="btn btn-danger" value="log out"></a>
        </form>
      </nav>

</header>

<%- include('../partials/footer')%>