<%- include('../partials/header.ejs') %>
<section class=""
  style="background-image: url('https://images.pexels.com/photos/2182863/pexels-photo-2182863.jpeg?auto=compress&cs=tinysrgb&w=600'); width: 100%;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 ">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="post" action="/usersignup" id="form"  class="form-group" >

                <div class="form-outline mb-4">
                  <input type="text" id="name" name="name" class="form-control " required />
                  <label class="form-label" for="form3Example1cg">Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="email" name="email" class="form-control" required/>
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="phone" name="phone" class="form-control " required />
                    <label class="form-label" for="form3Example1cg">Phone</label>
                  </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control " required />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                

                <div class="form-check d-flex justify-content-center mb-5">
                  
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById("name").addEventListener("input",function(){
   
   var name=document.getElementById("name").value.trim()
   
   if(name==""){
     document.getElementById("name").setCustomValidity("Name cannot be null")
   }else{
     document.getElementById("name").setCustomValidity("")
   }
 })
  document.getElementById("email").addEventListener("input",function(){
   
   var email=document.getElementById("email").value.trim()
 
   if(email==""){
     document.getElementById("email").setCustomValidity("Email cannot be null")
   }else{
     document.getElementById("email").setCustomValidity("")
   }
 })
 document.getElementById("phone").addEventListener("input",function(){
  var phone=document.getElementById("phone").value.trim() 
   
   if(phone.length<10){
     document.getElementById("phone").setCustomValidity("phone number is less tha 10")
   }else if(phone.length>10){
    document.getElementById("phone").setCustomValidity("phone number is greater tha 10")

   }
  

    else{
     document.getElementById("phone").setCustomValidity("")
   }
 })
 document.getElementById("password").addEventListener("input",function(){
   var password=document.getElementById("password").value.trim()
   
   if(password.length<4){
     document.getElementById("password").setCustomValidity("Password is less than 4")
   }else{
     document.getElementById("password").setCustomValidity("")

   }
 })
</script>
<%- include('../partials/footer.ejs') %>